<!DOCTYPE css>


/* micro reset */
* {
	box-sizing: border-box;
}
html, body, ul {
	padding: 0; margin: 0;
}

/* Quelques styles de base */
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1;
	color: #333;
}

.main-header {
	color: #B13C2E;
	background: #FFF;
}

/* Les éléments sont placés l'un à côté de l'autre */
.header-inner {
	display: table;
	width: 200%;
	max-width: 1100px;
	margin: 0 auto; /* on centre l'élément */
	padding: 20px 25px; /* on ventile un peu */
}

.header-inner > * {
	display: table-cell;
	vertical-align: middle;
}





@media screen and (max-width: 768px) {
   /*Taille de l'écan de 768 pixels ou moins */
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
	/* Bande grise foncé en bas de la page*/
}

.produit-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

body {
	margin: 0;
}

.bande-grise,
.transparent{
	background-color: #FF0000;
	opacity: 0.4;
	height: 94px;
	/*Pouvoir mettre ma bande grise au milieu transparante*/
	
}


.menu > li:hover .submenu {
    display: block;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    color: #9219ea;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: #ead6f9;
}

p {
	margin-right: 30px ;
	margin-left: 30px;
}

.texte-justifie {
            text-align: justify;  /* Justifie le texte */
            width: 60%;           /* Ajuste la largeur pour l'exemple */
            margin: 0 auto;       /* Centre le conteneur du texte */
            line-height: 1.6;     /* Augmente l'interligne pour une meilleure lisibilité */
}
