/* Micro reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.75;
    color: #da3be4;
    background: #ffd8fd;
}

.main-header {
    color: #B13C2E;
    background: #FFF;
}

.header-inner {
    display: table;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 25px;
}

.header-inner > * {
    display: table-cell;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 20px auto;
}

.realisation {
    width: calc(50% - 20px);
    margin: 10px;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.realisation img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.texte-justifie {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    background: rgba(28, 28, 28, 0.85);
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.menu {
    list-style-type: none;
    display: flex;
    background: #8d34cf;
    justify-content: center;
    padding: 10px 0;
}

.menu > li {
    position: relative;
    margin: 0 15px;
}

.menu > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

.menu > li > a:hover {
    background-color: #b159f2;
}

.submenu {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #8d34cf;
    display: none;
    padding: 0;
}

.menu > li:hover .submenu {
    display: block;
}

.submenu > li > a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
