<!DOCTYPE css>


/* micro reset */
* {
	box-sizing: border-box;
}
html, body, ul {
	padding: 0; margin: 0;
}

/* Quelques styles de base */
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.75;
	color: #da3be4;
	background: #ffd8fd;
}

.main-header {
	color: #B13C2E;
	background: #FFF;
}

/* Les éléments sont placés l'un à côté de l'autre */
.header-inner {
	display: table;
	width: 200%;
	max-width: 1100px;
	margin: 0 auto; /* on centre l'élément */
	padding: 20px 25px; /* on ventile un peu */
}

.header-inner > * {
	display: table-cell;
	vertical-align: middle;
}





@media screen and (max-width: 768px) {
   /*Taille de l'écan de 768 pixels ou moins */
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
	/* Bande grise foncé en bas de la page*/
}

.produit-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

body {
	margin: 0;
}

.bande-grise,
.transparent{
	background-color: #FF0000;
	opacity: 0.4;
	height: 94px;
	/*Pouvoir mettre ma bande grise au milieu transparante*/
	
}

.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #8d34cf;
    display: none;
}

.submenu > li > a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

.submenu > li > a:hover {
    background-color: #b159f2;
}

.menu > li:hover .submenu {
    display: block;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    color: #9219ea;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: #ead6f9;
}

img {
	margin: 30px;
	float: left; /* ou right pour placer l'image à droite */
    margin-right: 15px;
	margin-bottom: 80px;
	/*Taille de l'image*/
}

.p {
	margin-right: 30px;
}

 .encadre {
        border: 2px solid #000; /* Bordure de 2px avec une couleur noire */
        padding: 1px;          /* Espacement interne entre le texte et la bordure */
        width: fit-content;     /* Ajuste la largeur à celle du contenu */
        margin: 20px;           /* Espacement autour de l'élément */
        border-radius: 8px;     /* Coins arrondis */
}

